---
import type { HTMLAttributes } from "astro/types";
import { getRelativeLocaleUrl } from "astro:i18n";
import LinkButton from "./LinkButton.astro";
import { useTranslations } from "@/i18n";
import config from "@/config";

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;

const locale = Astro.currentLocale ?? config.site.lang;
const t = useTranslations(Astro.currentLocale);
const currentYear = new Date().getFullYear();
const privacyPath = getRelativeLocaleUrl(locale, "privacy_policy");
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class="border-border flex flex-col items-center justify-between border-t py-6 sm:flex-row-reverse sm:py-4"
  >
    <LinkButton
      href={privacyPath}
      class="my-2 p-2 sm:p-1"
      title={t.footer.privacyPolicy}
    >
      <span data-i18n="footer.privacyPolicy">{t.footer.privacyPolicy}</span>
    </LinkButton>
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row">
      <span>
        <span data-i18n="footer.copyright">{t.footer.copyright}</span> &#169; {
          currentYear
        } {config.site.author}
      </span>
      <span class="hidden sm:inline">&nbsp;</span>
      <span data-i18n="footer.allRightsReserved">
        {t.footer.allRightsReserved}
      </span>
    </div>
  </div>
</footer>
